body {
	margin: 0;
	width: 100%;
}

body:after {
	content: '';
	display: table;
	width: 100%;
	clear: both;
}

ul {
	list-style-type: none;
	padding:0;
}

.element {
	width: 100px;
	height: 30px;
	line-height: 30px;
	padding: 8px;
	list-style: none;
}

.left {
	float: left;
}

.element {
	background: goldenrod;
}


.right {
	float: right;
}

.element--red {
	color: red;
}

.element--blue {
	color: blue;
}

.element {
	background: #bada55;
}
.element.am-leave {
	-webkit-transition: all 3000ms;
	-moz-transition: all 3000ms;
	-ms-transition: all 3000ms;
	-o-transition: all 3000ms;
	transition: all 3000ms;
	visibility: hidden;
}

.element.am-leave-prepare {
	visibility: hidden;
}

.element.am-leave-active {
	height: 0;
	padding-top: 0;
	padding-bottom: 0;
}


.element.am-enter {
	-webkit-transition: all 3000ms;
	-moz-transition: all 3000ms;
	-ms-transition: all 3000ms;
	-o-transition: all 3000ms;
	transition: all 3000ms;
	visibility: hidden;
}

.element.am-enter-prepare {
	height: 0;
	padding-top: 0;
	padding-bottom: 0;
}


.element.am-enter-active {
	height: 30px;
	padding-top: 8px;
	padding-bottom: 8px;
}


.element.am-move {
	-webkit-transition: all 3000ms;
	-moz-transition: all 3000ms;
	-ms-transition: all 3000ms;
	-o-transition: all 3000ms;
	transition: all 3000ms;
}

.element.am-move-active {
	background: #bada55;
}